/////////////////
// Home Groups //
/////////////////

.custom-homepage {
  #main-outlet {
    padding-top: 0;
   }
}

.carouselcs {
  display: block;
  width: 100%;
  overflow-x: scroll;
  padding: 20px 0;
  margin: 0;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.itemcs {
  display: inline-block;
  width: 200px;
  margin: 0px 10px;
  height: 45px;
  background: #0763fd;
  position: relative;
  border-radius: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
	box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
  }
  div {
	width: 100%;
	position: relative;
	color: var(--secondary, $secondary);
	display: flex;
	height: 45px;
  }
  span {
	position: relative;
	color: var(--secondary, $secondary);
	font-size: 0.98em;
	font-weight: bold;
	margin: auto;
  }
}
.grouphomepage-icon {
  font-size: 25px;
  vertical-align: sub;
}

//////////////////////
// Categories Icons //
//////////////////////

div[class^="category-title-header"] {
  .category-title-contents {
    .category-title {
	  font-size: 1.7em;
	}
  }
}
.category-banner-jobban-vagyok {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f004";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-tarsalgo {
  .category-title {
    &:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f075";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-gephaz {
  .category-title {
    &:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f013";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-kerdesek {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f059";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-handcheck {
  .category-title {
    &:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f030";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-duhongo {
  .category-title {
    &:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f556";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-otletelo {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f0eb";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-wiki {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Brands";
	  content: "\f266";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-esemenyek {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f133";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-adok-veszek {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f02c";
	  display: inline-block;
	  padding-right: 5px;
      font-weight: 900;
	}
  }
}
.category-banner-rba-rda-rdta-rta,
.category-banner-modok,
.category-banner-szettek,
.category-banner-porlasztos-tankok,
.category-banner-kiegeszitok,
.category-banner-aromak-es-kellekek {
  .category-title {
    &:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f02c";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-ertekelesek {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f005";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-csere-ecigire {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f021";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-liquid-receptek {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f0c3";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-blog {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f1ea";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-tamogatas {
  .category-title {
    &:before {
	  font-family: "Font Awesome 5 Free";
	  content: "\f21e";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: 900;
	}
  }
}
.category-banner-youtuber {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Brands";
	  content: "\f167";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: normal;
	}
  }
}

///////////////////////
// Video and Youtube //
///////////////////////

.onebox.video-onebox {
  width: max-content;
  padding: 0 0 3em 0;
  video {
	width: max-content;
	position: relative;
	border-radius: 4px;
  }
}
.video-container {
  width: max-content;
  padding: 0 0 3em 0;
  video {
	width: max-content;
	position: relative;
	border-radius: 4px;
  }
}
.lazyYT-container {
  background-color: transparent;
  border-radius: 4px;
}
body.category-youtuber {
  background: url(https://vaperinas3booster.b-cdn.net/original/2X/f/f77b4d1804f9402e0d4cd5c9a533e4842ae52965.png), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.97) 100%, rgba(var(--primary-rgb), 0.97) 100%),linear-gradient(0deg, #000 0%, #000 100%);
  background: url(https://vaperinas3booster.b-cdn.net/original/2X/f/f77b4d1804f9402e0d4cd5c9a533e4842ae52965.png), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.97) 100%, rgba(var(--primary-rgb), 0.97) 100%),linear-gradient(0deg, #000 0%, #000 100%);
  background-position: center center;
  background-position: center center;
  background-position: fixed;
  background-position: fixed;
  background-size: contain;
  background-size: contain;
}
.category-youtuber {
  .navigation-container {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.8) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  .sidebar {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.8) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  .main-link {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.8) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  #main-outlet {
	background-image: linear-gradient(0deg, rgba(var(--secondary-rgb), 0.15) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  #create-topic {
	background: #FF0000;
	&:hover {
	  background: #CE0000;
	}
	.d-icon {
	  display: none;
	}
	span {
	  &:before {
		font-family: "Font Awesome 5 Free";
		content: "\f03d";
		display: inline-block;
		padding-right: 5px;
		font-weight: 900;
	  }
	}
  }
}
.category-list {
  .category-icon {
	color: var(--primary-high, $primary-high) !important;
  }
}
.category-banner-youtuber {
  .category-title {
	&:before {
	  font-family: "Font Awesome 5 Brands";
	  content: "\f167";
	  display: inline-block;
	  padding-right: 5px;
	  font-weight: normal;
	}
  }
  .category-title-contents {
	color: var(--secondary, $secondary);
  }
}
